<div class="card">
<div class="card-body">
  <div class="card-title text-center">
    <h4><b>Build your Tool Stack</b></h4>
  </div>
  <div *ngIf="tabs.length == 0">
    <h5 class="text-center mb-3">Future Work</h5>
    <div class="text-center">
      Please click Skip to proceed to next step!!
    </div>
    <div class="text-center">
      <button (click)="skip()" class="btn btn-outline-dark btn-sm mt-2">Skip</button>
    </div>
  </div>
  <mat-tab-group [(selectedIndex)]="currentTab">
    <mat-tab  *ngFor="let tab of tabs; index as i" [label]="i + 1">
      <h5  class="tab-pad">{{ tab }}</h5>
      <h3 *ngIf="tabs.length==0"> preprod</h3>
      <mat-radio-group class="radio-group" [(ngModel)]="choice">
        <mat-radio-button mat-raised-button *ngFor="let option of options[i]; index as j" value="{{ j }}">
         {{ option.tools }} 
        </mat-radio-button>
      </mat-radio-group>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions align="end">
    <button (click)="onClick($event)" class="btn btn-primary" [disabled]= "!choice" mat-raised-button  >
      Next
    </button>
  </mat-card-actions> 

</div>
  
</div>
