<mat-card>
  <mat-tab-group class="minimal-width-tabs" [(selectedIndex)]="currentTab">
    <!-- <mat-tab label="xcgdfg">xcgdfg</mat-tab> -->
    <mat-tab *ngFor="let tab of tabs; index as i" [label]="i + 1">
      <h3>{{ tab }}</h3>
      <mat-radio-group class="radio-group" [(ngModel)]="choice">
        <mat-radio-button mat-raised-button
        matTooltip="Information about the Tool ------ {{option.tools}}.
         If you want to learn more about the {{option.tools}} then please click the link.
         Here is a link to the Description of the tool."
          *ngFor="let option of options[i]; index as j"
          value="{{ j }}" 
        >
        
          {{ option.tools }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-tab>
  </mat-tab-group>
  <mat-card-actions align="end">
    <button (click)="onClick($event)" class="btn btn-primary" [disabled]= "!choice" mat-raised-button  >
      Next
    </button>
    <!-- <div (mouseover)="changeText=true" (mouseout)="changeText=false">
        <span *ngIf="!changeText">Hide</span>
        <span *ngIf="changeText">Show</span>
      </div> -->
  </mat-card-actions> 
</mat-card>
