<div class="wrapper">
  <div class="navbar">
    <img src="../../assets/miracle-logo-light.png" class="img-center pt-2" alt="">
    <span class="text-color" routerLink="/"><h4><b>M</b>iracle <b>D</b>evops <b>A</b>utomation <b>F</b>ramework</h4></span>
    <!-- <span class="text-color" routerLink="/processes">About Us</span> -->
    <!-- <span class="text-color" routerLink="/schedule">Schedules</span> -->
    <span class="signOut pull-right" style="color: #fff;">
      <span class="border-line">
        <span class="small signOut-text"> Hi Admin!</span></span>
      <span title="Log Out" routerLink="../login"><span class="fa fa-fw fa-sign-out"></span></span>
    </span>
  </div>
</div>