<div class="wrapper">
       
        
        <div class="main wrapper" style="background-color: #F7F9FF">
          <!-- <div class="bar" style="background-color: purple;"> -->
              <div class="bar">
            <app-progress-bar></app-progress-bar>
          </div>
          <div class="selector col-sm-4" style="background-color:#F7F9FF;">
            <app-tool-picker></app-tool-picker>
          </div>
          <div class="stack col-sm-8" style="background-color:#F7F9FF;">
            <app-progress-stack ></app-progress-stack>
          </div>
        </div>
       
       
      </div>
     
      
      <!-- <div class="wrapper">
        <header class="header"><h1>Miraclesoft</h1></header>
        <div class="main">
          <mat-grid-list cols="2" rowHeight="250px" gutterSize="5px">
            <mat-grid-tile colspan="2" rowspan="1">
              <app-progress-bar></app-progress-bar>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2">
              <app-tool-picker></app-tool-picker>
            </mat-grid-tile>
            <mat-grid-tile colspan="1" rowspan="2"> </mat-grid-tile>
          </mat-grid-list>
        </div>
        <footer class="footer"><h6>About Us</h6></footer>
      </div> -->
      