.x{
  float: right;
  }
  .t{
  float: left;
  }
  .list{
    list-style-type: none;
  }
  .listStack{
  height: 35px;
  }  
  
  .x{
  float: right;
  }


  .t{
  float: left;
  }
  .list{
    list-style-type: none;
  }

  .listStack{
  height: 35px;
  }  

  .progress-card {
    margin-bottom: 3rem;
  }