:host { 
  width: 100%; 
  }
  .flexstack {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: #FFFFFF;
  }
  .flexstack > div {
  flex: 0 0 250px;
  }
  .delete {
  display: inline-block;
  position: absolute;
  /* right: 0.5px; */
  cursor: pointer;
  } 
  button:hover{
  background:#DC3545;
  }
  .x{
  float: right;
  }
  .t{
  float: left;
  }
  .listStack{
  height: 35px;
  }
  